<div id="recent-calls" ng-if="isAuthenticated()" ng-cloak>

  <!-- Search -->

  <form role="search" method="get" class="input-group" action="">
    <label for="s" class="sr-only">Search for:</label>
    <input type="search" ng-disabled="!calls.length" ng-model="qcalls" class="form-control s" placeholder="Search…">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </form>

  <!-- Search End -->

  <div class="line-01"></div>

  <div class="recent-header">
    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-4">Via</div>
      <div class="col-md-3">When</div>
      <div class="col-md-3">Duration</div>
      <div class="col-md-1">&nbsp;</div>
    </div>
  </div>

  <div class="row">
    <div dir-paginate="call in calls | orderBy:'-start_time' | filter:qcalls | itemsPerPage: callsPageSize" current-page="callsCurrentPage" pagination-id="callsPaginator" class="recent-body" ng-class="{'recent-gray' : $index%2==0, 'recent-white' : !($index%2==0)}">
      <div class="row">
        <div class="col-md-1">
          <div class="call-current"></div>
        </div>
        <div class="col-md-4">
          <span class="label label-{{call.caller_type | beautifyCallType | styleCallType}}">{{call.caller_type | beautifyCallType}}</span>{{call.phone}}</div>
        <div class="col-md-3">{{call.start_time | amDateFormat:'MMM Do , h:mm:ss a'}}</div>
        <div class="col-md-3">{{diffDates(call.end_time,call.start_time)}}</div>
        <div class="col-md-1">
          <a ng-href="#/call/{{call.queue_id}}/{{call.id}}">
            <i class="fa fa-play"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center">
      <dir-pagination-controls boundary-links="true" pagination-id="callsPaginator">
      </dir-pagination-controls>
    </div>
  </div>

</div>
