<div class="col-md-9 right-line-pages" ng-if="isAuthenticated()">

  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <form>
        <input ng-disabled="!calls.length" ng-model="qcalls"
               id="search" type="text" class="form-control" placeholder="Search...">
      </form>
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
    </div>
  </div>

  <div class="recent-title">
    <div class="recent-title-01"></div>
    <div class="recent-title-02">Contact</div>
    <div class="recent-title-03">Via</div>
    <div class="recent-title-04">When</div>
    <div class="recent-title-05">Duration</div>
    <div class="recent-title-06"></div>
  </div>

  <div class="row">
    <div dir-paginate="call in calls | filter:qcalls | itemsPerPage: callsPageSize"
         current-page="callsCurrentPage" pagination-id="callsPaginator"
         ng-class="{recent01 : $index%2==0, recent02 : !($index%2==0)}">
      <div class="call-01 cll-current"></div>
      <div class="call-02">
        <img src="images/default-user-image-small_16x16.png"/>

        <div class="call-02-name">{{call.address || 'N/A'}}</div>
      </div>
      <div class="call-03">{{call.phone}}</div>
      <div class="call-04">{{call.start_time | amDateFormat:'ddd, MMM Do , h:mm:ss a'}}</div>
      <div class="call-05">{{fromNow(call.start_time,call.end_time)}}</div>
      <div class="call-06">
        <a ng-href="#/call/{{call.queue_id}}/{{call.id}}">
          <i class="fa fa-play"></i>
        </a>
      </div>
    </div>

    <div class="text-center">
      <dir-pagination-controls
        boundary-links="true" pagination-id="callsPaginator">
      </dir-pagination-controls>
    </div>
  </div>

</div>
