.alerts-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999 !important;
  width: 250px;
  height: auto;
}

.alert {
  animation: alertx 0.5s 1;
  -webkit-animation: alertx 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay: 4s;
  -webkit-animation-delay: 4s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes alertx {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
}

/* Standard syntax */
@keyframes alertx {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
}
