<div id="details" ng-if="isAuthenticated()" ng-cloak>

  <div class="col-md-2">
    <img src="https://cdn.ubicall.com/static/ubicall/images/user.png" class="det-img" alt="" />
  </div>

  <div class="col-md-10">
    <div class="det-phone">{{call.phone}}</div>
    <div class="det-name">{{call.caller || 'Unknown'}}</div>
    <div class="det-title">{{call.caller_title || 'Unknown'}}</div>
  </div>

  <div class="space-01"></div>

  <div class="row">
    <div class="col-md-12">

      <!-- Tabs -->
      <div role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a target="_self" href="#General" aria-controls="General" role="tab" data-toggle="tab">General</a></li>
          <li role="presentation" ng-if="call.call_data"><a target="_self" href="#Call-Data" aria-controls="profile" role="tab" data-toggle="tab">Call Data</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="General">

            <div class="ubi-det">
              <div class="col-md-3">Phone </div>
              <div class="col-md-9 det-field">{{call.phone}}</div>
            </div>
            <div class="ubi-det" ng-if="call.status">
              <div class="col-md-3">Status </div>
              <div class="col-md-9 det-field">{{call.status}}</div>
            </div>
            <div class="ubi-det">
              <div class="col-md-3">Agent </div>
              <div class="col-md-9 det-field">{{call.agent}}</div>
            </div>
            <div class="ubi-det" ng-if="call.schedule_time">
              <div class="col-md-3">Schedule Time </div>
              <div class="col-md-9 det-field">{{call.schedule_time}}</div>
            </div>
            <div class="ubi-det" ng-if="call.duration">
              <div class="col-md-3">Duration</div>
              <div class="col-md-9 det-field">{{call.duration}}</div>
            </div>
            <div class="ubi-det" ng-if="call.duration_wait">
              <div class="col-md-3">Duration Wait</div>
              <div class="col-md-9 det-field">{{call.duration_wait}}</div>
            </div>
            <div class="ubi-det" ng-if="call.queue_name">
              <div class="col-md-3">Queue</div>
              <div class="col-md-9 det-field">{{call.queue_name}}</div>
            </div>
            <div class="ubi-det" ng-if="call.address">
              <div class="col-md-3">Address</div>
              <div class="col-md-9 det-field">{{call.address}}</div>
            </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="Call-Data" ng-if="call.call_data">

            <div class="ubi-det" ng-repeat="(nnkey, nnvalue) in call.call_data track by $index">
              <div class="col-md-3">{{nnkey}}</div>
              <div class="col-md-9 det-field">{{nnvalue}}</div>
            </div>

          </div>

        </div>


        <!-- Tabs End -->

      </div>

    </div>

  </div>
