<div class="col-md-9 right-line-pages" ng-if="isAuthenticated()" ng-cloak>

  <div id="details-calls">
    <img src="https://cdn.ubicall.com/static/ubicall/images/default-user-image-small_48x48.png" class="det-img" alt=""/>

    <div class="det-num">{{call.phone}}</div>
    <div class="det-name">{{call.phone}}</div>
    <div class="det-title">Call center manager at Ubicall</div>
  </div>

  <div class="space-01"></div>

  <!-- Tabs -->

  <tabset justified="true">
    <tab heading="General">
      <div class="row" ng-repeat="(key, value) in call">
        <div ng-if="key != 'call_data' && key != 'api_key' && key != 'uniqueid' &&  key != 'trunk' &&
            key != 'datetime_entry_queue' &&   key != 'id' && key != 'queue_id' && key != 'id_agent' &&
             key != 'failure_cause_txt' && key != 'dnc' && key != 'failure_cause' && key != 'longitude' &&
             key != 'latitude' && key != 'time_init' && key != 'time_end' && key != 'date_init' && key != 'date_end'
             && key != 'vdomain' && key != 'caller_type' ">
          <div class="col-md-2" ng-if="value" >{{key | peautifyKey }}</div>
          <div class="col-md-10 details-fields" ng-if="value && isDate(value)">
            {{value | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
          </div>
          <div class="col-md-10 details-fields" ng-if="value && !isDate(value)">
            {{value}}
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Call Data" ng-if="!isEmptyObject(call.call_data)">
      <accordion close-others="oneAtATime">
        <div class="row" ng-repeat="(key, value) in call.call_data track by $index">
          <accordion-group heading="{{key}}" is-open="true">
            <div ng-if="isJson(value)">
              <ul ng-repeat="(nkey, nvalue) in value track by $index">
                <div ng-if="isJson(nvalue)">
                  <ul ng-repeat="(nnkey, nnvalue) in nvalue track by $index">
                    <li>{{nnkey}} : {{nnvalue}}</li>
                  </ul>
                </div>
                <div ng-if="!isJson(nvalue)">
                  <li>{{nkey}} : {{nvalue}}</li>
                </div>
              </ul>
            </div>
            <div ng-if="!isJson(value)">
              {{value}}
            </div>
          </accordion-group>
        </div>
      </accordion>
    </tab>
  </tabset>

  <!-- Tabs End -->

</div>
