<div id="calls" ng-controller="PhoneController" ng-if="isAuthenticated()">

  <span class="{{signal.class}}" title="{{signal.title}}" ng-if="isCall && !hanguped"></span>

  <a class="list-group-item call-call" href="" ng-click="answer()" ng-show="isCall && !answered" data-toggle="collapse">Answer</a>

  <a class="list-group-item call-end" href="" ng-click="hangup()" ng-show="isCall && answered && !hanguped" data-toggle="collapse">Hangup</a>

  <swf-object
    swf-url="lib/agent/freeswitch/freeswitch.swf"
    swf-id="{{flashPhoneId}}"
    swf-width="250"
    swf-height="300"
    swf-version="9.0.0"
    swf-params="swfObjParams"
    swf-vars= "rtmpConfig"
    xi-swf-url-str="lib/swfobject/swfobject/expressInstall.swf"
    swf-load="fsFlashLoaded(evt)"/>

</div>
