<div id="login" ng-cloak>

  <div class="login-header">
    <img src="https://cdn.ubicall.com/static/ubicall/images/ubicall-logo-login.png" alt="Ubicall logo" />
  </div>

  <div class="login-body">
    <div class="login-content">

      <h3>Welcome Back To Ubicall</h3>

      <form name="form" autocomplete="off" novalidate shake-that submitted="submitted" submit="submit()">

        <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
          <input type="email" class="form-control" name="email" id="email" ng-model="email" ng-model-options="{updateOn: 'blur'}" placeholder="Email" required />
        </div>

        <div class="form-group" ng-class="{'has-error': form.password.$invalid && submitted}">
          <input type="password" class="form-control" name="password" id="password" ng-model="password" placeholder="Password" required />
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="">stay signed in</label>
        </div>

        <button type="submit" name="send" class="btn btn-default login-btn">Login</button>

      </form>

      <a href="#/forget_password">Forgot your password?</a>

    </div>
  </div>

</div>
