<div class="panel panel-default" ng-controller="QueuesController" ng-show="showQueues()" ng-if="isAuthenticatedAndFS()" ng-cloak>
  <div class="panel-heading">
    <h3 class="panel-title">Queues</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a ng-repeat="queue in queues" href="#/queue/{{queue.queue_id}}/{{queue.queue_slug}}" ng-class="{disabled: queue.calls <= 0}" title="{{{true: 'has ' + queue.calls + ' call waiting ' , false: 'has no calls now'}[queue.calls > 0]}}" class="list-group-item {{queue.calls | callAlert}}">
        {{queue.queue_name}}
        <span class="badge">{{queue.calls}}</span>
      </a>
    </div>
  </div>
</div>
