<!-- Header -->

<div id="header">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-icons">
          <li>
            <a href="#/main" title="Dashboard">
              <img src="img/logo-header.png" class="logo-header" alt=""/>
            </a>
          </li>
          <li class="active">
            <a href="#/about" title="Recent Calls">
              <i class="fa fa-history"></i>
            </a>
          </li>
          <li>
            <a href="#/help" title="Contacts">
              <i class="glyphicon glyphicon-user"></i>
            </a>
          </li>
          <li>
            <a href="#/current" title="Messages">
              <i class="fa fa-envelope"></i><span class="badge">8</span>
            </a>
          </li>
          <li>
            <a href="#/recent" title="Reports"><i class="fa fa-flag"></i>
            </a>
          </li>
          <li>
            <a href="#/agents" title="Settings"><i class="fa fa-cog"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false">
              <i class="fa fa-circle available">
              </i> {{user.username}} <span class="caret"/>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/status/available"><i class="fa fa-circle available"></i> Available</a></li>
              <li><a href="#/status/Away"><i class="fa fa-circle after"></i> Away</a></li>
              <li class="divider" role="presentation"></li>
              <li><a href="#/logout">logout</a></li>
              <li><a href="#/me">profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>

<!--Header End-->

<div class="clear"></div>

<div id="pages">

  <div class="pages-title">
    <div class="container">
      Call Detail
    </div>
  </div>

  <div class="container page-main">

    <div class="row">
      <!-- Right Page -->

      <div class="col-md-9 right-line-pages">

        <div id="details-calls">
          <img src="images/default-user-image-small_48x48.png" class="det-img" alt=""/>

          <div class="det-num">{{call.phone}}</div>
          <div class="det-name">{{call.phone}}</div>
          <div class="det-title">Call center manager at Ubicall</div>
        </div>

        <div class="space-01"></div>

        <!-- Tabs -->

        <tabset justified="true">
          <tab heading="General">
            <div class="row" ng-repeat="(key, value) in call">
              <div ng-if="key != 'call_data'">
                <div class="col-md-2">{{key}}</div>
                <div class="col-md-10 details-fields">{{value || "N/A"}}</div>
              </div>
            </div>
          </tab>
          <tab heading="Call Data">
            <accordion close-others="oneAtATime">
              <div class="row" ng-repeat="(key, value) in call.call_data">
                <accordion-group heading="{{key}}" is-open="true">
                  <div ng-if="isJson(value)">
                    <ul ng-repeat="(nkey, nvalue) in value">
                      <div ng-if="isJson(nvalue)">
                        <ul ng-repeat="(nnkey, nnvalue) in nvalue">
                          <li>{{nnkey}} : {{nnvalue}}</li>
                        </ul>
                      </div>
                      <div ng-if="!isJson(nvalue)">
                        <li>{{nkey}} : {{nvalue}}</li>
                      </div>
                    </ul>
                  </div>
                  <div ng-if="!isJson(value)">
                    {{value}}
                  </div>
                </accordion-group>
              </div>
            </accordion>
          </tab>
        </tabset>
        <!-- Tabs End -->

      </div>

      <!-- Right Page End -->


      <!-- Left Page -->
      <div class="col-md-3">

        <!-- Queues -->

        <div class="list-group" dir-paginate="queue in queues | itemsPerPage: queuesPageSize"
             current-page="queuesCurrentPage"
             pagination-id="queuesPaginator">
          <a href="#/queue/{{queue.queue_id}}/{{queue.queue_slug}}"
             class="list-group-item frist-item {{queue.calls | callAlert}}">
            {{queue.queue_name}}
          </a>
        </div>

        <div class="text-center">
          <dir-pagination-controls
            boundary-links="true" pagination-id="queuesPaginator"></dir-pagination-controls>
        </div>

        <!-- Queues End -->


        <!-- Calls -->

        <div id="calls" ng-controller="PhoneController">

          <span class="{{signal.class}}" title="{{signal.title}}"></span>

          <a class="list-group-item call-call" href="" ng-click="answer()" data-toggle="collapse">Answer</a>

          <a class="list-group-item call-end" href="" ng-click="hangup()" data-toggle="collapse">Hangup</a>

        </div>

        <!-- Calls End -->

      </div>

      <!-- Left Page End -->
    </div>
  </div>

</div>

<div class="clear"></div>
