<!-- Header -->

<div id="header">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-icons">
          <li>
            <a href="#/main" title="Dashboard">
              <img src="img/logo-header.png" class="logo-header" alt=""/>
            </a>
          </li>
          <li class="active">
            <a href="#/about" title="Recent Calls">
              <i class="fa fa-history"></i>
            </a>
          </li>
          <li>
            <a href="#/help" title="Contacts">
              <i class="glyphicon glyphicon-user"></i>
            </a>
          </li>
          <li>
            <a href="#/current" title="Messages">
              <i class="fa fa-envelope"></i><span class="badge">8</span>
            </a>
          </li>
          <li>
            <a href="#/recent" title="Reports"><i class="fa fa-flag"></i>
            </a>
          </li>
          <li>
            <a href="#/agents" title="Settings"><i class="fa fa-cog"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false">
              <i class="fa fa-circle available">
              </i> {{user.username}} <span class="caret"/>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#/status/available"><i class="fa fa-circle available"></i> Available</a></li>
              <li><a href="#/status/Away"><i class="fa fa-circle after"></i> Away</a></li>
              <li class="divider" role="presentation"></li>
              <li><a href="#/logout">logout</a></li>
              <li><a href="#/me">profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>

<!--Header End-->

<div class="clear"></div>

<div id="pages">

  <div class="pages-title">
    <div class="container">
      Recent Calls
    </div>
  </div>

  <div class="container page-main">

    <div class="row">

      <!-- Right Page -->

      <div class="col-md-9 right-line-pages">

        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <form>
              <input ng-disabled="!calls.length" ng-model="qcalls"
                     id="search" type="text" class="form-control" placeholder="Search...">
            </form>
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
          </div>
        </div>

        <div class="recent-title">
          <div class="recent-title-01"></div>
          <div class="recent-title-02">Contact</div>
          <div class="recent-title-03">Via</div>
          <div class="recent-title-04">When</div>
          <div class="recent-title-05">Duration</div>
          <div class="recent-title-06"></div>
        </div>

        <div class="row">
          <div dir-paginate="call in calls | filter:qcalls | itemsPerPage: callsPageSize"
               current-page="callsCurrentPage" pagination-id="callsPaginator"
               ng-class="{recent01 : $index%2==0, recent02 : !($index%2==0)}">
            <div class="call-01 cll-current"></div>
            <div class="call-02">
              <img src="images/default-user-image-small_16x16.png"/>

              <div class="call-02-name">{{call.address || 'N/A'}}</div>
            </div>
            <div class="call-03">{{call.phone}}</div>
            <div class="call-04">{{call.start_time | amDateFormat:'ddd, MMM Do , h:mm:ss a'}}</div>
            <div class="call-05">{{fromNow(call.start_time,call.end_time)}}</div>
            <div class="call-06">
              <a ng-href="#/call/{{call.queue_id}}/{{call.id}}">
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>

          <div class="text-center">
            <dir-pagination-controls
              boundary-links="true" pagination-id="callsPaginator">
            </dir-pagination-controls>
          </div>
        </div>

      </div>

      <!-- Right Page End -->


      <!-- Left Page -->

      <div class="col-md-3">

        <!-- Queues -->

        <div class="list-group" dir-paginate="queue in queues | itemsPerPage: queuesPageSize"
             current-page="queuesCurrentPage"
             pagination-id="queuesPaginator">
          <a href="#/queue/{{queue.queue_id}}/{{queue.queue_slug}}"
             class="list-group-item frist-item {{queue.calls | callAlert}}">
            {{queue.queue_name}}
          </a>
        </div>

        <div class="text-center">
          <dir-pagination-controls
            boundary-links="true" pagination-id="queuesPaginator"></dir-pagination-controls>
        </div>

        <!-- Queues End -->


        <!-- Calls -->

        <div id="calls" ng-controller="PhoneController">

          <span class="{{signal.class}}" title="{{signal.title}}"></span>

          <a class="list-group-item call-call" href="" ng-click="answer()" data-toggle="collapse">Answer</a>

          <a class="list-group-item call-end" href="" ng-click="hangup()" data-toggle="collapse">Hangup</a>

        </div>

        <!-- Calls End -->

      </div>

      <!-- Left Page End -->

    </div>

  </div>

</div>

<div class="clear"></div>
