<a href="#Queue01" class="list-group-item frist-item" data-toggle="collapse" data-parent="#MainMenu">Queue 01 <i class="fa fa-01 fa-caret-down"></i></a>
<div class="collapse" id="Queue01">
	<a href="#" class="list-group-item items-list">Queue 01-01</a>
	<a href="#" class="list-group-item items-list">Queue 01-02</a>
	<a href="#" class="list-group-item items-list">Queue 01-03</a>
	<a href="#" class="list-group-item items-list">Queue 01-04</a>
	<a href="#" class="list-group-item items-list">Queue 01-05</a>
	<a href="#" class="list-group-item items-list">Queue 01-06</a>
</div>